@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.message = "Do you think the Academy could take Will Smith’s Oscar back after he slapped Chris Rock?";
}

<div class="text-center">
    @ViewBag.message
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
